[submodule "management-system"]
	path = management-system
	url = git@github.com:OCA/management-system.git
	branch = 13.0

[submodule "knowledge"]
	path = knowledge
	url = git@github.com:oca/knowledge.git
	branch = 13.0

[submodule "crm"]
	path = crm
	url = git@github.com:oca/crm.git
	branch = 13.0
